[Desktop Entry]
Encoding=UTF-8
Version=0.0
Name=BT-ON
Type=Application
Comment=Turn on Bluetooth Ethernet
Terminal=true
Exec=/home/root/bt-net.sh start
Path=
Icon=/home/root/bluetooth-on.png
Categories=ConsoleOnly;System;Application;
GenericName=Bluetooth Ethernet On
Categories=Office;
